<html>
<head>
  <title>HTML Meta Redirect</title>
  <meta http-equiv="Refresh" content="{{delay}}; url={{url}}" />
</head>
<body>
  <p>Redirecting in {{delay}} seconds, or click <a href="{{url}}">{{url}}</a>.</p>
</body>
</html>